.btn {
    color: $primary;

    cursor: pointer;

    padding: 10px 15px;
    margin: 0 10px;

    background: white;

    border: 2px solid $primary;
    border-radius: 10px;

    font-size: 12px;
    font-weight: 500;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $primary;
        border-color: $primary;
        color: white;
    }
}

.btn--open {
    color: $primary;

    border: 2px solid $primary;

    &:hover {
        background-color: $primary;
        border-color: $primary;
    }
}

.btn--delete {
    color: $warning;

    border: 2px solid $warning;

    &:hover {
        background-color: $warning;
        border-color: $warning;
    }
}

.btn--save {
    color: $primary;

    border: 2px solid $primary;

    &:hover {
        background-color: $primary;
        border-color: $primary;
    }

    float: right;
    margin: 20px;

    &:not(.active) {
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn--alert {
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 6px;

    color: white;

    border: 2px solid white;

    &:hover {
        background-color: white;
        border-color: white;
    }

    background-color: $warning;

    &:hover {
        color: $warning;
    }
}
