.btn {
    --color: $primary;
    color: var(--color);

    cursor: pointer;

    padding: 10px 15px;
    margin: 0 10px;

    background: white;

    border: 2px solid var(--color);
    border-radius: 10px;

    font-size: 12px;
    font-weight: 500;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--color);
        border-color: var(--color);
        color: white;
    }
}

.btn--open {
    --color: $primary;
}

.btn--delete {
    --color: $warning;
}

.btn--save {
    --color: $primary;
    
    float: right;
    margin: 20px;

    &:not(.active) {
        opacity: 0.5;
        pointer-events: none;
    }
}
