.grouping-mode-dropdown {
    display: inline-block;
    position: relative;
    margin-left: 20px;

    font-size: 11px;

    button {
        text-transform: uppercase;
        border: 0;
        background: transparent;
        padding: 0;
        cursor: pointer;

        &:focus:not(.focus-ring) {
            outline-width: 0;
        }
    }

    ul {
        position: absolute;
        left: -9px;
        width: 130px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background: white;
        margin-top: 10px;

        button {
            padding: 10px;
            width: 100%;
            text-align: left;
            cursor: pointer;

            &:hover,
            &:focus {
                background: $hover-color;
            }
        }
    }
}
