.group {
    padding: 4px;
    border: 3px solid transparent;
}

.group.group--dragover {
    border: 3px dashed $text-color;
    padding: 4px;
}

.group__header {
    .select-all {
        display: none;
    }

    &:hover {
        .select-all {
            display: initial;
        }
    }
}

.group-name {
    display: inline-block;
    margin: 10px 0;

    &.group-name--editable {
        cursor: pointer;
        min-width: 0;
        transition: min-width .3s;

        border-style: solid;
        border-width: 0 0 2px;
        border-color: transparent;
        margin-bottom: 8px;
    }

    &.group-name--expanded {
        min-width: 200px;
    }


    &.group-name--editmode,
    &.group-name--editable:hover {
        border-color: $text-color;
    }

    .group-name__text, .group-name__input {
        font-size: 1.17rem;
        font-weight: bold;
    }

    .group-name__input {
        padding: 0;
        background-color: initial;
        border-width: 0;
        outline: none; /* bad a11y? */
    }
}

.group-name__text {
    &.group-name__text--no-category {
        color: $info-text-color;

        .group-name__text__maintext {
            font-size: 1rem;
        }

        .group-name__text__subtext {
            font-weight: normal;
            font-style: italic;
            line-height: 2;
            font-size: .9rem;
        }
    }
}
