.list {
    width: 100%;
}

.select-all {
    margin: 7px;

    color: lighten($text-color, 40%);
    font-size: smaller;

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
