.tab {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 5px;

    overflow: hidden;

    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    span {
        padding-right: 5px;
        flex: 0 0 auto;
    }
}

$icon-size: 21.25px;

.icon {
    width: $icon-size;
    height: $icon-size;

    .favicon {
        width: 100%;
        transition: transform 0.1s 0.1s;
        transform: rotateY(0deg);
    }

    .checked-icon {
        display: none;
        width: 100%;
        height: 100%;

        position: relative;
        top: -1 * $icon-size;
    }

    .unchecked-icon {
        // display: none;
        width: 100%;
        height: 100%;

        position: relative;
        top: -1 * $icon-size;

        transition: transform 0.1s 0s;
        transform: rotateY(-90deg);
    }

    &:hover {

        .favicon {
            transform: rotateY(90deg);
            transition: transform 0.1s 0s;
        }

        .unchecked-icon {
            display: block;
            transform: rotateY(0deg);
            transition: transform 0.1s 0.1s;

        }
    }

    &.selected {
        .favicon {
            display: none;
        }

        .checked-icon {
            display: block;
        }
    }
}



.info {
    .title {

    }

    .url {
        font-style: italic;
        color: lighten($text-color, 30%);
        font-size: smaller;
    }
}
