.tab {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    padding: 5px;

    overflow: hidden;

    &:not(.no-highlight) {
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .tab-info {
            cursor: pointer;
        }
    }

    span {
        padding-right: 5px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

$icon-size: 21.25px;

.icon {
    flex: 0 0 auto;

    position: relative;
    width: $icon-size;
    height: $icon-size;

    cursor: pointer;

    .favicon {
        width: $icon-size;
        transition: transform 0.1s 0.1s;
        transform: rotateY(0deg);

        position: absolute;
        top: 0;
    }

    .checked-icon {
        display: none;
        width: $icon-size;
        height: $icon-size;

        position: absolute;
        top: 0;
    }

    .unchecked-icon {
        width: $icon-size;
        height: $icon-size;

        position: absolute;
        top: 0;

        transition: transform 0.1s 0s;
        transform: rotateY(-90deg);
    }

    &:hover {

        .favicon {
            transform: rotateY(90deg);
            transition: transform 0.1s 0s;
        }

        .unchecked-icon {
            display: block;
            transform: rotateY(0deg);
            transition: transform 0.1s 0.1s;

        }
    }

    &.selected {
        .favicon {
            display: none;
        }

        .unchecked-icon {
            display: none;
        }

        .checked-icon {
            display: block;
        }
    }
}



.tab-info {
    flex: 1 1 auto;

    .title {

    }

    .url {
        font-style: italic;
        color: lighten($text-color, 50%);
        font-size: smaller;
    }
}
